 <div class="container">

  <div class="d-flex justify-content-between mt-5">
    <div class="h2">
      <%= current_user.nickname%>さんへの通知一覧
    </div>
    <%= link_to user_path(current_user),class: "h5" do %>
      <%= current_user.nickname %>さんのマイページに戻る
    <% end %>
  </div>

  <!--通知一覧表示-->
  <table class="table">
    <% @notifications.each do |notification| %>
      <%= render 'notifications/favorited_to_own_post',notification: notification %>
    <% end %>
  </table>

 </div>
