 <div class="container-fluid">

  <div class="d-flex justify-content-between mt-3">
    <div class="h2">
      <span class="page_title"><%= @user.nickname%>さんがフォロー中</span>
    </div>
    <%= link_to user_path(@user),class: "h5" do %>
      <%= @user.nickname %>さんのマイページに戻る
    <% end %>
  </div>

  <!--ユーザ一覧の部分テンプレート-->
  <%= render 'users/index',users: @users %>
 </div>
