<!--トップ画面-->
<div class="container">

  <div class="row d-flex justify-content-center">
    <div class="mt-3">
      <%= link_to "ガジェットを探しに行く！！",gadgets_path,class:"btn btn-info" %>
    </div>
    <% unless user_signed_in? %>
      <div class="mt-3 ml-3">
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-block sign_in", method: :post %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="w-75 mx-auto mt-3 p-3 border border-info border-3">
      <h2><span class="page_title">「Hagadget」ってどんなサイト？</span></h2>
      <div class="site_descriptions mt-3 ml-5">
        <p>「Hagadget」は、ガジェットの使用感等をユーザ同士で意見交換できるSNSサイトです。</p>
        <p>ガジェット好きな方はもちろん、仕事や学習が楽しくなるようなガジェットをお探しの方も当サイトはおすすめです！</p>
        <p>あなたに合ったガジェットを探しに行きましょう！！</p>
      </div>
      <div class="usage-examples mt-5 ml-5 d-flex justify-content-center">
        <div class="usage-examples text-center">
          <%= image_tag 'israel-andrade-YI_9SivVt_s-unsplash.jpg',class: "w-50" %>
          <p>オフィス</p>
        </div>
       <div class="usage-examples text-center">
         <%= image_tag 'girl-g8d5353c17_640.jpg',class: "w-50" %>
         <p>テレワーク・学習</p>
       </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="w-75 mx-auto my-3 p-3 border border-info border-3">
      <h2><span class="page_title">「ガジェット(gadget)って何？」</span></h2>
      <div class="word_descriptions mt-3 ml-5">
        <p>「ガジェット(Gadget)」とは、「目新しい道具、面白い小物」といった意味を持つ英単語です。</p>
        <p>近年では、スマートフォンなどの電子機器を指すことが多くなっています。</p>
      </div>
    </div>
  </div>
</div>
