@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
// 使用するフォントのurl(Googleフォント)
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

// CSSの初期化
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'Yusei Magic', sans-serif; //フォントの指定
}

main {
  flex: 1;
  background-color: #fff9f4;
}

//ヘッダーの背景画像
header{
  width: 100%;
  background-image: url("../images/KAZ19514003_TP_V4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// フラッシュメッセージ
.flash_message{
  // 基本的なCSSはHTMLで設定済みのため、省略

  .notice{
    background-color: #65FF65; //処理成功時
  }

  .alert{
    background-color: #FF6565; //処理失敗時
  }
}


// フッターの背景画像
footer{
  width: 100%;
  background-image: url("../images/KAZ19514003_TP_V4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// ヘッダー背景の透明化
.toumei{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

// バリデーションエラーの対象箇所に付与されるクラスのスタイル
.field_with_errors {
  //対象タグが存在しない扱いになる。（ここでの対象は、field_with_errorsタグ）
  display: contents;
  // inputタグに「is-invalid」タグを追加を追加？
  input {
    @extend .is-invalid;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    border-color: red;
    background-color: #FFE4E1;
  }
}

// エラーメッセージの表示エリアのスタイルを設定
.error_message_area,#error_explanation {
  color: #DC143C;
  border-width: 3px;
  border-radius: 5px;
  background-color: #FFE4E1;
}

// ::marker「●」を消すための設定
ul {
  list-style: none;
}

// 各ページタイトルのスタイル
.page_title{
   box-shadow:0px -6px 5px -5px #ff3300 inset,0px 8px 4px -8px #000000;
}

.pagination{
  justify-content: center;
}

.thumbnail {/*親div*/
  position: relative;/*相対配置*/
  }

.favorite_btn-bg {
  width: 50px;
  height: 50px;
  color: #000000;
  background-color: #fff8dc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 70%;
  left: 75%;
  }
