@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// CSSの初期化
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

//ヘッダーの背景画像
header{
  width: 100%;
  background-image: url("../images/KAZ19514003_TP_V4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// フラッシュメッセージ
.flash_message{
  // 基本的なCSSはHTMLで設定済みのため、省略

  .notice{
    background-color: #65FF65; //処理成功時
  }

  .alert{
    background-color: #FF6565; //処理失敗時
  }
}


// フッターの背景画像
footer{
  width: 100%;
  background-image: url("../images/KAZ19514003_TP_V4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// ヘッダー背景の透明化
.toumei{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}