<!--「model.errors.any?」でそのモデルのバリデーションエラーが存在するかを確認する。-->
  <% if model.errors.any? %>
    <div class="error_message_area">
      <h3>
        <!--エラーメッセージの件数を表示-->
        <%= pluralize(model.errors.count, "件のエラーにより保存できませんでした。") %>
      </h3>
      <ul>
        <!--エラーメッセージを全て表示-->
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
