<footer>
  <div class="toumei">
    <div class="container-fluid">
    <div class='mx-auto center-block'>
      <div class='title text-center'>
        <%= link_to root_path,class: "navbar-brand text-reset" do %>
          <i class="fas fa-robot"></i>
          <span class="font-weight-bold">Hagajet</span>
          <i class="fas fa-robot"></i>
        <% end %>
      </div>
      <div class='subtitle text-center'>
        <span>〜明日の仕事・学習を楽しくさせるガジェット専門SNSサイト〜</span>
      </div>
      <div class='copyright text-center'>
        <span>COPYRIGHT HAGADGET. ALL RIGHTS RESERVED.</span>
      </div>
    </div>
    </div>
  </div>
</footer>